* {
	font: inherit;
	min-width: 0;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	hanging-punctuation: first last;
	color-scheme: dark light;
	scrollbar-gutter: stable;
	interpolate-size: allow-keywords;
}

body {
	min-block-size: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

img,
picture,
video,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

p,
li,
figcaption {
	max-width: 65ch;
	text-wrap: pretty;
}

p {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;
	}
}
